<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Store_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Store_Manager.Properties.Settings.Store_ManagerConnectionString"
            connectionString="Data Source=LAPTOP-8FMK7RPK;Initial Catalog=Store_Manager;Persist Security Info=True;User ID=sa;Password=Berkay_678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Store_Manager.Properties.Settings>
            <setting name="kullanıcıAdı" serializeAs="String">
                <value />
            </setting>
            <setting name="şifre" serializeAs="String">
                <value />
            </setting>
            <setting name="yetki" serializeAs="String">
                <value />
            </setting>
            <setting name="tema" serializeAs="String">
                <value />
            </setting>
            <setting name="dil" serializeAs="String">
                <value />
            </setting>
        </Store_Manager.Properties.Settings>
    </userSettings>
</configuration>